body{
    font-family: 'hms_gilbert_sansregular';
    font-size: 1.4em;
    padding: 1em;
}

h1{
    font-family: 'hms_gilbert_dry_brushregular';
    font-size: 5.5em;
    padding: 0.1em;
}

h2,h3,h4,h5,h6{
    font-family: 'hms_gilbert_scriptregular';
    font-size: 1.9em;
    margin: 1em 0px 0.25em 0px;
}

p{
    margin-left: 2.5em;
}

.catchword{
    font-family: 'hms_gilbert_catchwordsregular';
}

.ornament{
    font-family: 'hms_gilbert_ornamentsregular';
}

section{
    padding: 1em;
    width: 43em;
}

aside{
    position: fixed;
    right: 1em;
    top: 4em;
    width: 160px;
    height: 600px;
}

form{
    margin-top: 1em;
}

input,textarea, button{
    font-family: 'hms_gilbert_sansregular';
    font-size: 2em;
    margin-top: 1em;
}

input,textarea{
    width: 90px;
}

@media screen and (max-device-width: 1081px){
    h1{
        font-size: 2em;
    }
    h2,h3,h4,h5,h6{
        font-size: 1.2em;
    }
    input,textarea{
        width: 12em;
    }
    section{
        width: auto;
    }
    aside{
        position: static;
    }
}